<section class="wrapper bg-light">
  <div class="container pb-15 pb-md-17">
    <div class="row gx-md-5 gy-5 mt-n19 mb-14 mb-md-17">
      <div class="margin-style"> 
        <img (click)="changeLanguaje('en')" src="./assets/nares/usa.png" alt="">
        <img (click)="changeLanguaje('es')" src="./assets/nares/ven.png" alt="">
      </div>
        <div class="col-md-6 col-xl-3">
          <div class="card shadow-lg">
            <div class="card-body">
              <h2 class="mb-2">{{ "centerMenu.srv1" | translate}}</h2>
              <img class="mb-2" src="./assets/nares/theme/icons/03.png" width="100%" alt="" />
            </div>
            <!--/.card-body -->
          </div>
          <!--/.card -->
        </div>
        <!--/column -->
        <div class="col-md-6 col-xl-3">
          <div class="card shadow-lg">
            <div class="card-body">
              <h2 class="mb-2">{{ "centerMenu.srv2" | translate}}</h2>
              <img  class="mb-2" src="./assets/nares/theme/icons/04.png" width="100%" alt="" />
            </div>
            <!--/.card-body -->
          </div>
          <!--/.card -->
        </div>
        <!--/column -->
        <div class="col-md-6 col-xl-3">
          <div class="card shadow-lg">
            <div class="card-body">
              <h2 class="mb-2">{{ "centerMenu.srv3" | translate}}</h2>
              <img class="mb-2" src="./assets/nares/theme/icons/01.png" width="100%" alt="" />
            </div>
            <!--/.card-body -->
          </div>
          <!--/.card -->
        </div>
        <!--/column -->
        <div class="col-md-6 col-xl-3">
          <div class="card shadow-lg">
            <div class="card-body">
              <h2 class="mb-2">{{ "centerMenu.srv4" | translate}}</h2>
              <img class="mb-2" src="./assets/nares/theme/icons/02.png" width="100%" style="margin-left: 10px;" />
            </div>
            <!--/.card-body -->
          </div>
          <!--/.card -->
        </div>
        <!--/column -->
      </div>
      <!--/.row -->
      <div class="row">
        <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 mx-auto text-center">
          <h3 class="display-3 mb-10 px-xl-10 px-xxl-15">Conoce la metodología de construcción de nuestros productos para dar solucion a sus proyectos</h3>
        </div>
        <!-- /column -->
      </div>
      <!-- /.row -->
      <ul class="nav nav-tabs nav-tabs-bg nav-tabs-shadow-lg d-flex justify-content-between nav-justified flex-lg-row flex-column">
        <li class="nav-item"> <a class="nav-link d-flex flex-row active" data-bs-toggle="tab" href="#tab2-1">
            <div class="text-center">
              <h4>Sistema solar fotovoltaíco</h4>
              <p>El uso de paneles solares y todo un compendio de equipos electronicos.</p>
            </div>
          </a> </li>
        <li class="nav-item"> <a class="nav-link d-flex flex-row" data-bs-toggle="tab" href="#tab2-2">
            <div class="text-center">
              <h4>Sistema de bombeo</h4>
              <p>Generamos de manera automática un sistema de bombeo de agua con energía solar.</p>
            </div>
          </a> </li>
        <li class="nav-item"> <a class="nav-link d-flex flex-row" data-bs-toggle="tab" href="#tab2-3">
            <div class="text-center">
              <h4>Calentadores de agua</h4>
              <p>A traves de bobinas de cobre es posible calentar el agua usando la energia solar.</p>
            </div>
          </a> </li>
      </ul>
      <!-- /.nav-tabs -->
      <div class="tab-content mt-6 mt-lg-8">
        <div class="tab-pane fade show active" id="tab2-1">
          <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
            <div class="col-lg-6">
              <figure class="rounded shadow-lg"><img src="./assets/nares/theme/tech/01.svg" srcset="./assets/nares/theme/tech/01@2x.svg 2x" alt=""></figure>
            </div>
            <!--/column -->
            <div class="col-lg-6">
              <h2 class="mb-3">Sistema solar fotovoltaíco</h2>
              <p>La energía solar fotovoltaica es una fuente de energía renovable y limpia que utiliza la radiación solar para producir electricidad, esta puede ser producida utilizando los diferentes componentes y paneles solares que se presentan en el diagrama a continuación.</p>
              <ul class="icon-list bullet-bg bullet-soft-blue">
                <li><i class="uil uil-check"></i>Controlador de corriente (Energia solar y electríca).</li>
                <li><i class="uil uil-check"></i>Paneles solares de acuerdo a la necesidad energética del cliente.</li>
                <li><i class="uil uil-check"></i>Inversores y baterias de corriente que permite la recuperación y uso de la energía </li>
              </ul>
            </div>
            <!--/column -->
          </div>
          <!--/.row -->
        </div>
        <!--/.tab-pane -->
        <div class="tab-pane fade" id="tab2-2">
          <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
            <div class="col-lg-6 order-lg-2">
              <figure class="rounded shadow-lg"><img src="./assets/nares/theme/tech/02.svg" srcset="./assets/nares/theme/tech/02@2x.svg 2x" alt=""></figure>
            </div>
            <!--/column -->
            <div class="col-lg-6">
              <h2 class="mb-3">Sistema de bombeo</h2>
              <p>El sistema de bombeo que contamos en NaresEnergy se basa en un principio sencillo: “La presión ejercida sobre la superficie de un fluido puede ser recuperada a través del uso de maquinarias electricas de bombeo energia que se captura con paneles solares y permite la ejecución de cada una de las tareas requerídas, algunos componentes se presentan en el diagrama a continuación. </p>
              <ul class="icon-list bullet-bg bullet-soft-blue">
                <li><i class="uil uil-check"></i>Controlador de corriente (Energia solar y electríca) y baterias de recuperación de la energia.</li>
                <li><i class="uil uil-check"></i>Paneles solares de acuerdo a la necesidad energética del cliente.</li>
                <li><i class="uil uil-check"></i>Tubos de bombeo y bombas de .</li>
                <li><i class="uil uil-check"></i>Donec id elit non mi porta gravida at eget.</li>
              </ul>
              <!--a href="#" class="btn btn-blue mt-2">Learn More</!--a-->
            </div>
            <!--/column -->
          </div>
          <!--/.row -->
        </div>
        <!--/.tab-pane -->
        <div class="tab-pane fade" id="tab2-3">
          <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
            <div class="col-lg-6">
              <figure class="rounded shadow-lg"><img src="./assets/nares/theme/tech/04.svg" srcset="./assets/nares/theme/tech/04@2x.svg 2x" alt=""></figure>
            </div>
            <!--/column -->
            <div class="col-lg-6">
              <h2 class="mb-3">Calentadores de Agua</h2>
              <p>El sistema de funcionamiento del calentador solar de agua sin presión es un sistema pasivo basado en el principio de la 
                termosifón como alternativa de ahorro de energía, este funciona a través del calentamiento solar de los tubos cambiando la 
                densidad del agua fria a caliente y enviando el agua al interior de un tanque .</p>
              <ul class="icon-list bullet-bg bullet-soft-blue">
                <li><i class="uil uil-check"></i>Tanque de agua con capacidad de 100 ltrs hasta 300 lts.</li>
                <li><i class="uil uil-check"></i>Pueden ser instalados tanto en el techo de su casa como en el edificio o en su sotano</li>
                <li><i class="uil uil-check"></i>Pueden utilizar paneles de tipo (Colector solar) y estos a su vez calentarán el agua en los respectivos tanques.</li>
              </ul>
            </div>
            <!--/column -->
          </div>
          <!--/.row -->
        </div>
        <!--/.tab-pane -->
      </div>
      <!-- /.tab-content -->
    </div>
    <!-- /.container -->
  </section>
