<section class="wrapper bg-light">
  <div class="container pb-15 pb-md-17">
    <div class="row gx-md-5 gy-5 mt-n19 mb-14 mb-md-17" *ngIf="!falsy">
      <div class="margin-style"> 
        <img (click)="changeLanguaje('en')" src="./assets/nares/usa.png" alt="">
        <img (click)="changeLanguaje('es')" src="./assets/nares/ven.png" alt="">
      </div>
        <div class="col-md-6 col-xl-3">
          <div class="card shadow-lg">
            <div class="card-body">
              <h2 class="mb-2">{{ "centerMenu.srv1" | translate}}</h2>
              <img class="mb-2" src="./assets/nares/theme/icons/03.png" width="100%" alt="" />
            </div>
            <!--/.card-body -->
          </div>
          <!--/.card -->
        </div>
        <!--/column -->
        <div class="col-md-6 col-xl-3">
          <div class="card shadow-lg">
            <div class="card-body">
              <h2 class="mb-2">{{ "centerMenu.srv2" | translate}}</h2>
              <img  class="mb-2" src="./assets/nares/theme/icons/04.png" width="100%" alt="" />
            </div>
            <!--/.card-body -->
          </div>
          <!--/.card -->
        </div>
        <!--/column -->
        <div class="col-md-6 col-xl-3">
          <div class="card shadow-lg">
            <div class="card-body">
              <h2 class="mb-2">{{ "centerMenu.srv3" | translate}}</h2>
              <img class="mb-2" src="./assets/nares/theme/icons/01.png" width="100%" alt="" />
            </div>
            <!--/.card-body -->
          </div>
          <!--/.card -->
        </div>
        <!--/column -->
        <div class="col-md-6 col-xl-3">
          <div class="card shadow-lg">
            <div class="card-body">
              <h2 class="mb-2">{{ "centerMenu.srv4" | translate}}</h2>
              <img class="mb-2" src="./assets/nares/theme/icons/02.png" width="100%" style="margin-left: 10px;" />
            </div>
            <!--/.card-body -->
          </div>
          <!--/.card -->
        </div>
        <!--/column -->
      </div>
      <!--/.row -->

      <div *ngIf="falsy">
        <br><br><br>
      </div>

      <div class="row">
        <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 mx-auto text-center">
          <h3 class="display-3 mb-10 px-xl-10 px-xxl-15">{{"services.principal-title" | translate}}</h3>
        </div>
        <!-- /column -->
      </div>
      <!-- /.row -->
      <ul class="nav nav-tabs nav-tabs-bg nav-tabs-shadow-lg d-flex justify-content-between nav-justified flex-lg-row flex-column">
        <li class="nav-item"> <a class="nav-link d-flex flex-row active" data-bs-toggle="tab" href="#tab2-1">
            <div class="text-center">
              <h4>{{"services.etiquetas1.titulo" | translate}}</h4>
              <p>{{"services.etiquetas1.subtitulo" | translate}}</p>
            </div>
          </a> </li>
        <li class="nav-item"> <a class="nav-link d-flex flex-row" data-bs-toggle="tab" href="#tab2-2">
            <div class="text-center">
              <h4>{{"services.etiquetas2.titulo" | translate}}</h4>
              <p>{{"services.etiquetas2.subtitulo" | translate}}</p>
            </div>
          </a> </li>
        <li class="nav-item"> <a class="nav-link d-flex flex-row" data-bs-toggle="tab" href="#tab2-3">
            <div class="text-center">
              <h4>{{"services.etiquetas3.titulo" | translate}}</h4>
              <p>{{"services.etiquetas3.subtitulo" | translate}}</p>
            </div>
          </a> </li>
      </ul>
      <!-- /.nav-tabs -->
      <div class="tab-content mt-6 mt-lg-8">
        <div class="tab-pane fade show active" id="tab2-1">
          <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
            <div class="col-lg-6">
              <figure class="rounded shadow-lg"><img src="./assets/nares/theme/tech/01.svg" srcset="./assets/nares/theme/tech/01@2x.svg 2x" alt=""></figure>
            </div>
            <!--/column -->
            <div class="col-lg-6">
              <h2 class="mb-3">{{ "services.etiquetas1.contenido.titulo" | translate}}</h2>
              <p>{{ "services.etiquetas1.contenido.contenido" | translate}}</p>
              <ul class="icon-list bullet-bg bullet-soft-blue">
                <li><i class="uil uil-check"></i>{{ "services.etiquetas1.contenido.lista.lista1" | translate}}</li>
                <li><i class="uil uil-check"></i>{{ "services.etiquetas1.contenido.lista.lista2" | translate}}</li>
                <li><i class="uil uil-check"></i>{{ "services.etiquetas1.contenido.lista.lista3" | translate}}</li>
              </ul>
            </div>
            <!--/column -->
          </div>
          <!--/.row -->
        </div>
        <!--/.tab-pane -->
        <div class="tab-pane fade" id="tab2-2">
          <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
            <div class="col-lg-6 order-lg-2">
              <figure class="rounded shadow-lg"><img src="./assets/nares/theme/tech/02.svg" srcset="./assets/nares/theme/tech/02@2x.svg 2x" alt=""></figure>
            </div>
            <!--/column -->
            <div class="col-lg-6">
              <h2 class="mb-3">{{ "services.etiquetas2.contenido.titulo" | translate}}</h2>
              <p>{{ "services.etiquetas2.contenido.bloquetexto" | translate}}</p>
              <ul class="icon-list bullet-bg bullet-soft-blue">
                <li><i class="uil uil-check"></i>{{ "services.etiquetas2.contenido.lista.lista1" | translate}}</li>
                <li><i class="uil uil-check"></i>{{ "services.etiquetas2.contenido.lista.lista2" | translate}}</li>
                <li><i class="uil uil-check"></i>{{ "services.etiquetas2.contenido.lista.lista3" | translate}}</li>
              </ul>
              <!--a href="#" class="btn btn-blue mt-2">Learn More</!--a-->
            </div>
            <!--/column -->
          </div>
          <!--/.row -->
        </div>
        <!--/.tab-pane -->
        <div class="tab-pane fade" id="tab2-3">
          <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
            <div class="col-lg-6">
              <figure class="rounded shadow-lg"><img src="./assets/nares/theme/tech/04.svg" srcset="./assets/nares/theme/tech/04@2x.svg 2x" alt=""></figure>
            </div>
            <!--/column -->
            <div class="col-lg-6">
              <h2 class="mb-3">{{ "services.etiquetas2.contenido.titulo" | translate}}</h2>
              <p>{{ "services.etiquetas2.contenido.bloquetexto" | translate}}</p>
              <ul class="icon-list bullet-bg bullet-soft-blue">
                <li><i class="uil uil-check"></i>{{ "services.etiquetas2.contenido.lista.lista1" | translate}}</li>
                <li><i class="uil uil-check"></i>{{ "services.etiquetas2.contenido.lista.lista2" | translate}}</li>
                <li><i class="uil uil-check"></i>{{ "services.etiquetas2.contenido.lista.lista3" | translate}}</li>
              </ul>
            </div>
            <!--/column -->
          </div>
          <!--/.row -->
        </div>
        <!--/.tab-pane -->
      </div>
      <!-- /.tab-content -->
    </div>
    <!-- /.container -->
  </section>
