<app-header></app-header>

<!-- /header -->
<section class="wrapper image-wrapper bg-image bg-overlay text-white" style="background-image: url('../../../assets/nares/moroccan-flower-dark.png')">
<div class="container pt-17 pb-13 pt-md-19 pb-md-17 text-center">
    <div class="row">
    <div class="col-md-10 col-xl-8 mx-auto">
        <div class="post-header">
  
        <!-- /.post-category -->
        <h1 class="display-1 mb-4 text-white">Quienes somos</h1>
        
        <!-- /.post-meta -->
        </div>
        <!-- /.post-header -->
    </div>
    <!-- /column -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
</section>


<section class="wrapper bg-light">
    <div class="container pb-14 pb-md-16">
      <div class="row">
        <div class="col-lg-12 mx-auto">
          <div class="blog single">
            <div class="card">
              <div class="card-body">
                <div class="classic-view">
                  <article class="post">
                    <div class="post-content mb-5">
                      <p>Nares es un innovador de soluciones de energía renovable que se fabrican con las nuevas tecnologías aplicaciones innovadoras y de calidad
ofrecemos una gama completa de productos de energía solar hidrógeno y productos de energía eólica para ayudar a clientes como ustedes
a satisfacer las necesidades de la actualidad, con sus sedes en Miami florida,  Bogotá colombia y valencia venezuela Nares Energy presta sus servicios
a clientes de norte america y de america latina a nivel comercial industrial y al sector residencial para asegurar la satisfacción de nuestros clientes
concentramos nuestros esfuerzos en proporcionar un excelente servicio a nuestros consumidores, nos dedicamos a la creación de relaciones a largo plazo con nuestros clientes
proporcionándoles soluciones completas que parten de la investigación hasta la entrega y puesta a punto de sistemas solares y garantía de años de servicio y apoyo
ayudaremos a la renovación de su entorno personal en hogares y comunidades saludables a bajos costos de energía iluminación y bombeo y calentamiento de agua
un medio ambiente limpio y protegido.</p>

<p>disponemos de una amplia gama de calentadores solares para su hogar oficina o industria con capacidad de 100 litros en adelante tenemos unidades sencillas o split
para ser instaladas tanto en techo de casa edificio o sótano, y también en áreas abiertas</p>

<p>sistemas de energía renovable, solar y eólica, bombas de extracción de agua para pozos profundos, calentadores solares para agua directamente del fabricante proveemos e instalamos
sistema de energía solar fotovoltaica diseñados de acuerdo con las necesidades del usuario proveemos sistemas a partir de 2000 vt instalados en sitio con capacidad para hogares, comunidades o de uso industrial</p>

                               </div>
             
                    <!-- /.post-footer -->
                  </article>
                  <!-- /.post -->
                </div>
                <!-- /.classic-view -->

              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.blog -->
        </div>
        <!-- /column -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>