<div class="content-wrapper">
  <app-header></app-header>
  <app-section1></app-section1>
  <app-section2></app-section2>
  <app-section4></app-section4>
  <div class="container-fluid" style="margin: 0px 0px;">
  <div class="card image-wrapper bg-full bg-image bg-overlay bg-overlay-300 mb-14" style="background-image: url('./assets/nares/modale.jpg')">
    <div class="card-body">
      <div class="row text-center">
        <div class="col-xl-11 col-xxl-12 mx-auto">
          <h2 class="fs-16 text-uppercase text-white">Preguntas frecuentes</h2>
          <h3 class="display-3 mb-8 px-lg-8 text-white">Si desea conocer más información ingrese a nuestro <br> FAQ(Frequent Asked Questions)</h3>
        </div>
        <!-- /column -->
      </div>
      <!-- /.row -->
      <div class="d-flex justify-content-center">
        <span><a class="btn btn-white rounded">Entrar</a></span>
      </div>
    </div>
</div>
</div>
