<section class="wrapper bg-light">
    <div class="container py-16 py-md-18">
      <div class="card shadow-lg mt-n21 mt-md-n23">
      </div>
      <!-- /.card -->
      <div class="row mt-17">
        <div class="col-lg-10 col-xl-9 col-xxl-8 mx-auto text-center">
          <h2 class="fs-16 text-uppercase text-muted mb-3">{{"home.metodology.some" | translate}}</h2>
          <h3 class="display-3 mb-10">{{"home.metodology.title" | translate}}</h3>
        </div>
        <!-- /column -->
      </div>

      <div class="row gy-10 gy-sm-13 gx-md-8 gx-xl-12 align-items-center">
        <div class="col-lg-6">
          <div class="row gx-md-5 gy-5">
            <div class="col-12">
              <figure class="rounded mx-md-5"><img src="../../../assets/nares/560x285.png" srcset="../../../assets/nares/560x285@2x.png 2x" alt=""></figure>
            </div>
            <!--/column -->
            <div class="col-md-6">
              <figure class="rounded"><img src="../../../assets/nares/293_265.jpg" srcset="../../../assets/nares/293_265@2x.jpg 2x" alt=""></figure>
            </div>
            <!--/column -->
            <div class="col-md-6">
              <figure class="rounded"><img src="../../../assets/nares/293x235.jpg" srcset="../../../assets/nares/293x235@2x.jpg 2x" alt=""></figure>
            </div>
            <!--/column -->
          </div>
          <!--/.row -->
        </div>
        <!--/column -->
        <div class="col-lg-6">
          <h2 class="fs-16 text-uppercase text-muted mb-3">{{"home.metodology.diferent" | translate}}</h2>
          <h3 class="display-3 mb-8">{{"home.metodology.subtitle" | translate}}</h3>
          <div class="row gy-6">
            <div class="col-md-6">
              <div class="d-flex flex-row">
                <div>
                  <img src="./assets/img/icons/solid/lamp.svg" class="svg-inject icon-svg icon-svg-xs solid-mono text-fuchsia me-4" alt="" />
                </div>
                <div>
                  <h4 class="mb-1">{{"home.metodology.competences.com1" | translate}}</h4>
                  <p class="mb-0">{{"home.metodology.competences.com1-content" | translate}}</p>
                </div>
              </div>
            </div>
            <!--/column -->
            <div class="col-md-6">
              <div class="d-flex flex-row">
                <div>
                  <img src="./assets/img/icons/solid/bulb.svg" class="svg-inject icon-svg icon-svg-xs solid-mono text-violet me-4" alt="" />
                </div>
                <div>
                  <h4 class="mb-1">{{"home.metodology.competences.com2" | translate}}</h4>
                  <p class="mb-0">{{"home.metodology.competences.com2-content" | translate}}</p>
                </div>
              </div>
            </div>
            <!--/column -->
            <div class="col-md-6">
              <div class="d-flex flex-row">
                <div>
                  <img src="./assets/img/icons/solid/puzzle.svg" class="svg-inject icon-svg icon-svg-xs solid-mono text-orange me-4" alt="" />
                </div>
                <div>
                  <h4 class="mb-1">{{"home.metodology.competences.com3" | translate}}</h4>
                  <p class="mb-0">{{"home.metodology.competences.com3-content" | translate}}</p>
                </div>
              </div>
            </div>
            <!--/column -->
            <div class="col-md-6">
              <div class="d-flex flex-row">
                <div>
                  <img src="./assets/img/icons/solid/headphone.svg" class="svg-inject icon-svg icon-svg-xs solid-mono text-green me-4" alt="" />
                </div>
                <div>
                  <h4 class="mb-1">{{"home.metodology.competences.com4" | translate}}</h4>
                  <p class="mb-0">{{"home.metodology.competences.com4-content" | translate}}</p>
                </div>
              </div>
            </div>
            <!--/column -->
          </div>
          <!--/.row -->
        </div>
        <!--/column -->
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
  </section>

       
 